<!-- simple html files but can write our js code between the <% %> as scriplets -->

<%- include('header') -%>
  <!-- <%= Math.random()%><br/> -->
  <div id="root"><%- content -%></div><br/>
  <!-- <%= content%><br/>
  <%- content%><br/>
  <%# content%><br/>
  <%%<br/>
  <%= content-%><br/>
  <%= content_%><br/> -->
  <%- include('footer') -%>